name: Dependency Graph
on:
  push:
    branches:
      - main

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: dependency-graph-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # this permission is needed to submit the dependency graph

jobs:
  dependency-graph:
    name: Submit dependencies to GitHub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ inputs.ref }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: sbt/setup-sbt@v1
      - uses: mkurz/sbt-dependency-submission@manifest-prefix
        with:
          manifest-prefix: 'main3 - '
          sha-override: '789bf95597552a3cb1a49404af24620a81ee1bee'
          sbt-plugin-version: '3.2.0-SNAPSHOT'
